body {
    background-color:#000;
}
ul li {
    color:#de6600;
    display:inline-block;
    margin-right: 20px;
    font-size: 30px;
    font-family: orbitron, serif, sans-serif;
}
h1 {
    font-family: bangers, sans-serif, serif;
    color:#0ccf0e;
}
h2, h3, h4 {
    color:#0ccf0e;
    font-family: orbitron, sans-serif, serif;
}
p, ol li, figcaption {
    color:#1AC0DE;
}
