/***********main styling***********/
h1 {
    font-family:bangers,sans-serif,serif;
    color:#0ccf0e;
    letter-spacing:.081em;
    font-size:3.750em;
    text-shadow:2px 2px #ddd;
    padding-left:5.20%;
    border-radius:30px;
    background-image:url(../images/pattern.gif);
    background-repeat: space;
}

h2,h3,h4 {
    color:#0ccf0e;
    font-family:orbitron,sans-serif,serif;
    letter-spacing:.104%;
}

ol li,figcaption {
    color:#1AC0DE;
    font-family:"Didact Gothic",sans-serif,serif;
    list-style-type:upper-roman
}

p {
    font-family:"Didact Gothic",sans-serif,serif;
    line-height:2.188em;
    color:#1AC0DE;
    letter-spacing:.104%;
    text-indent:1.875%;
}

footer ul li {
    display:inline-block;
    margin:0% 3.125%;
}

strong {
    font-weight: 800;
    font-family:serif;
    color:#fff;
}

a:link {
    color:#de6600
}

a:visited {
    color:rgba(255,255,255,1)
}

a:hover {
    color:#ff0
}

a:active {
    color:red
}

/***********end of main styling***********/
/***********navigation***********/

nav{
    text-align: center;
    margin:7.125%;
}

nav ul li {
    display:inline-block;
    margin-right:5.20%;
    font-size:1.875em;
    font-family:bangers,sans-serif,serif;
}

/***********end of navigation***********/
/***********page layout***********/
body {
    background-color:#090086;
    background-image: url(../images/renzler.gif);
}

#wrapper {
    width:75%;
    background-color:rgba(0,0,0,.6);
    margin:0% auto;
    padding:10px;
    border-radius:10px;
    box-shadow:0 0 100px #bbb;
    overflow:auto;
}

#about {
	width:28.64%;
	margin:1.041% 1.041% 1.041% 3.125%;
	padding:1.041%;
	float:left;
    /*border-width:.3125%;
    border-color:#0ccf0e;
	border-style:solid;*/
	overflow:auto;
}

#safety {
	width:28.64%;
	margin:1.04%;
	padding:1.041%;
	float:left;
    /*border-color:#0ccf0e;
    border-style:solid;
    border-width:.3125%;*/
	overflow:auto;
}

#four, #five {
	width:25%;
	margin:1.041%;
	padding:1.041%;
	float:left;
    /*border-width:3px;
    border-color:#0ccf0e;
	border-style:solid;*/
	overflow:auto;
    background-color:rgba(2);
}

#three {
	width:93.75%;
	margin:2.08%;
	float:left;
    border-radius:50%;
    /*border-width:.3125%;
    border-color:#0ccf0e;
	border-style:solid;*/
	overflow:auto;
	clear:left;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#888888+24,ddab82+45,dbdbdb+79,ffffff+100&amp;0.39+0,0.39+45,0+97,0+100 */
background: -moz-radial-gradient(center, ellipse cover,  rgba(136,136,136,0.39) 0%, rgba(136,136,136,0.39) 24%, rgba(221,171,130,0.39) 45%, rgba(219,219,219,0.14) 79%, rgba(250,250,250,0) 97%, rgba(255,255,255,0) 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(136,136,136,0.39)), color-stop(24%,rgba(136,136,136,0.39)), color-stop(45%,rgba(221,171,130,0.39)), color-stop(79%,rgba(219,219,219,0.14)), color-stop(97%,rgba(250,250,250,0)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(136,136,136,0.39) 0%,rgba(136,136,136,0.39) 24%,rgba(221,171,130,0.39) 45%,rgba(219,219,219,0.14) 79%,rgba(250,250,250,0) 97%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  rgba(136,136,136,0.39) 0%,rgba(136,136,136,0.39) 24%,rgba(221,171,130,0.39) 45%,rgba(219,219,219,0.14) 79%,rgba(250,250,250,0) 97%,rgba(255,255,255,0) 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  rgba(136,136,136,0.39) 0%,rgba(136,136,136,0.39) 24%,rgba(221,171,130,0.39) 45%,rgba(219,219,219,0.14) 79%,rgba(250,250,250,0) 97%,rgba(255,255,255,0) 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  rgba(136,136,136,0.39) 0%,rgba(136,136,136,0.39) 24%,rgba(221,171,130,0.39) 45%,rgba(219,219,219,0.14) 79%,rgba(250,250,250,0) 97%,rgba(255,255,255,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#63888888', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

/*#three figure {
    float:left;
}*/

#three, figcaption {
    text-align: center;
}


.storeimages {
    border-style:solid;
    border-color:rgba(222,102,0,.9);
    border-width:.416%;
    display:inline-block;
    border-radius:50%;
    overflow:auto;
}

.storeimages:hover {
    border-color:#ff0
}



footer {
    clear:left;
}

footer ul {
    text-align: center;
}



/***********end of page layout***********/
